<div class="container background-pri">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Alta de Producto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="fotos-container">
        <div class="foto-item" *ngFor="let foto of pictures">
          <img [src]="foto.url" *ngIf="foto.url; else noPhoto">
          <ng-template #noPhoto>
            <ion-icon name="help-circle-outline"></ion-icon>
          </ng-template>
        </div>
        <ion-button fill="clear" (click)="takePics()">
          Tomar Fotos
        </ion-button>
      </div>

      <form [formGroup]="frmProducto" (ngSubmit)="subirProducto()">
        <div class="inputs">
          <div class="nombre">
            <ion-input
              label="Nombre"
              label-placement="fixed"
              type="text"
              formControlName="nombre"
              required
              ngDefaultControl>
            </ion-input>
            <div class="errores" *ngIf="frmProducto.controls['nombre'].dirty && frmProducto.controls['nombre'].errors">
              <small *ngIf="frmProducto.controls['nombre'].errors['required']">Debe rellenar este campo.</small>
            </div>
          </div>
          <div class="descripcion">
            <ion-input
              label="Descripción"
              label-placement="fixed"
              type="text"
              formControlName="descripcion"
              required
              ngDefaultControl>
            </ion-input>
            <div class="errores" *ngIf="frmProducto.controls['descripcion'].dirty && frmProducto.controls['descripcion'].errors">
              <small *ngIf="frmProducto.controls['descripcion'].errors['required']">Debe rellenar este campo.</small>
            </div>
          </div>
          <div class="tiempo">
            <div class="minutos">
              <ion-input
                label="Minutos"
                label-placement="fixed"
                type="number"
                formControlName="minutos"
                min="0"
                max="59"
                required
                ngDefaultControl>
              </ion-input>
              <div class="errores" *ngIf="frmProducto.controls['minutos'].dirty && frmProducto.controls['minutos'].errors">
                <small *ngIf="frmProducto.controls['minutos'].errors['required']">Debe rellenar este campo.</small>
                <small *ngIf="frmProducto.controls['minutos'].errors['min']">El valor debe ser mayor o igual a 0.</small>
              </div>
            </div>
          </div>
          <div class="precio">
            <ion-input
              label="Precio"
              label-placement="fixed"
              type="number"
              formControlName="precio"
              min="0.01"
              required
              ngDefaultControl>
            </ion-input>
            <div class="errores" *ngIf="frmProducto.controls['precio'].dirty && frmProducto.controls['precio'].errors">
              <small *ngIf="frmProducto.controls['precio'].errors['required']">Debe rellenar este campo.</small>
              <small *ngIf="frmProducto.controls['precio'].errors['min']">El valor debe ser mayor o igual a 0.01.</small>
            </div>
          </div>
        </div>
        <ion-button type="submit" expand="block" color="tertiary" [disabled]="frmProducto.invalid">
          Agregar producto
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</div>
