<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>alta supervisor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">altaSupervisor</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- 
  A- Alta de dueño / supervisor
● Se cargarán: nombre, apellido, DNI, CUIL, foto y perfil (dueño o supervisor).
● La foto se tomará del celular.
● Brindar la posibilidad de contar con un lector de código QR para el DNI, que cargará la información
disponible (sólo aplicable a aquellos documentos que lo posean).
● Esta acción la podrá realizar el supervisor o el dueño.
  -->
  <form [formGroup]="frmSupervisor">
    <ion-item>
      <ion-input label="Nombre" placeholder="Carlos" formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Apellido" placeholder="Seveindio" formControlName="apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" label="correo" placeholder="Carlos@gmail.com" formControlName = 'email'></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" label="DNI" placeholder="XX-XXX-XXX" formControlName = 'DNI'></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="number"
        label="CUIL"
        placeholder="XX-XX-XXX-XXX-X"
        formControlName = 'CUIL'
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-radio-group [value]="supervisorDueno.valueOf">
        <ion-radio value="supervisor">supervisor</ion-radio>
        <ion-radio value="dueño">dueño</ion-radio>
      </ion-radio-group>
    </ion-item>

    <ion-button shape="round" expand="full" (click)="takePic()"
      >Foto</ion-button
    >

    <ion-button shape="round" expand="full" (click)="subirSupervisor()"
      >Cargar usuario</ion-button
    >
    <ion-button shape="round" expand="full" (click)="fillFields()"
      >llenar campos</ion-button
    >
  </form>
</ion-content>
