<div class="container background-pri">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Alta de Supervisor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="frmSupervisor" (ngSubmit)="subirSupervisor()">
        <div class="inputs">
          <div id="correo" class="correo">
            <ion-input
              id="input-correo"
              label="Correo"
              label-placement="fixed"
              type="email"
              formControlName="correo"
              name="email"
              required
              ngDefaultControl
            >
              <ion-button
                id="btn-correo"
                fill="clear"
                slot="end"
                (click)="manejarCorreo();"
                aria-label="Buscar/Cambiar"
                [disabled]="frmSupervisor.controls['correo'].errors"
              >
                <ion-icon
                  slot="icon-only"
                  name="search"
                  aria-hidden="true"
                ></ion-icon>
              </ion-button>
            </ion-input>
            @if (frmSupervisor.controls['correo'].dirty &&
            frmSupervisor.controls['correo'].errors) {
            <div class="errores">
              @if (frmSupervisor.controls['correo'].errors['required']) {
              <small>Debe rellenar este campo.</small>
              } @if (frmSupervisor.controls['correo'].errors['pattern']) {
              <small>No es un correo electrónico.</small>
              }
            </div>
            }
          </div>
          <div id="DNI" class="DNI deshabilitado">
            <!-- <ion-button
              class="deshabilitado"
              id="btn-scan-DNI"
              expand="block"
              color="tertiary"
              (click)="scan()"
              [disabled]="frmSupervisor.controls['correo'].invalid">
              Escanear DNI
            </ion-button> -->

            <ion-input
              id="input-DNI"
              label="DNI"
              label-placement="fixed"
              type="text"
              formControlName="DNI"
              name="DNI"
              required
              ngDefaultControl
            >
              <ion-button
                id="btn-scan-DNI"
                fill="clear"
                slot="start"
                aria-label="escanear"
                (click)="scan()"
                [disabled]="frmSupervisor.controls['correo'].invalid"
                [style.display]="'none'"
              >
                <ion-icon
                  slot="icon-only"
                  name="scan-outline"
                  aria-hidden="true"
                ></ion-icon>
                <!-- <ion-icon
                  slot="icon-only"
                  name="scan-circle-outline"
                  aria-hidden="true"
                ></ion-icon> -->
              </ion-button>

              <ion-button
                id="btn-DNI"
                fill="clear"
                slot="end"
                aria-label="buscar"
                (click)="buscarDni();"
                [disabled]="frmSupervisor.controls['DNI'].errors"
                [style.display]="'none'"
              >
                <ion-icon
                  slot="icon-only"
                  name="search"
                  aria-hidden="true"
                ></ion-icon>
              </ion-button>
            </ion-input>
            @if (frmSupervisor.controls['DNI'].dirty &&
            frmSupervisor.controls['DNI'].errors) {
            <div class="errores">
              @if (frmSupervisor.controls['DNI'].errors['required']) {
              <small>Debe rellenar este campo.</small>
              } @if (frmSupervisor.controls['DNI'].errors['pattern']) {
              <small>No es un DNI.</small>
              }
            </div>
            }
          </div>

          <div id="datos-personales" class="deshabilitado">
            <div class="CUIL">
              <ion-input
                label="CUIL"
                label-placement="fixed"
                type="text"
                formControlName="CUIL"
                name="CUIL"
                required
                ngDefaultControl
              >
              </ion-input>
              @if (frmSupervisor.controls['CUIL'].dirty &&
              frmSupervisor.controls['CUIL'].errors) {
              <div class="errores">
                @if (frmSupervisor.controls['CUIL'].errors['required']) {
                <small>Debe rellenar este campo.</small>
                } @if (frmSupervisor.controls['CUIL'].errors['patron']) {
                <small>No es un CUIL.</small>
                } @if (frmSupervisor.controls['CUIL'].errors['dniNoEncontrado'])
                {
                <small>El CUIL debe contener su DNI.</small>
                }
              </div>
              }
            </div>

            <div class="nombre_apellido">
              <div class="nombre">
                <ion-input
                  label="Nombre"
                  label-placement="fixed"
                  type="text"
                  formControlName="nombre"
                  name="name"
                  required
                  ngDefaultControl
                >
                </ion-input>

                @if (frmSupervisor.controls['nombre'].dirty &&
                frmSupervisor.controls['nombre'].errors) {
                <div class="errores">
                  @if (frmSupervisor.controls['nombre'].errors['required']) {
                  <small>Debe rellenar este campo.</small>
                  } @if (frmSupervisor.controls['nombre'].errors['pattern']) {
                  <small>Compruebe el texto ingresado.</small>
                  }
                </div>
                }
              </div>
              <div class="apellido">
                <ion-input
                  label="Apellido"
                  label-placement="fixed"
                  type="text"
                  formControlName="apellido"
                  name="surname"
                  required
                  ngDefaultControl
                >
                </ion-input>
                @if (frmSupervisor.controls['apellido'].dirty &&
                frmSupervisor.controls['apellido'].errors) {
                <div class="errores">
                  @if (frmSupervisor.controls['apellido'].errors['required']) {
                  <small>Debe rellenar este campo.</small>
                  } @if (frmSupervisor.controls['apellido'].errors['pattern']) {
                  <small>Compruebe el texto ingresado.</small>
                  }
                </div>
                }
              </div>
            </div>

            <div class="contra">
              <ion-input
                label="Contraseña"
                [clearOnEdit]="false"
                label-placement="fixed"
                helperText="Entre 6 y 20 caracteres."
                type="password"
                formControlName="contra"
                name="password"
                required
                ngDefaultControl
              >
                <ion-input-password-toggle
                  slot="end"
                ></ion-input-password-toggle>
              </ion-input>
              @if (frmSupervisor.controls['contra'].dirty &&
              frmSupervisor.controls['contra'].errors) {
              <div class="errores">
                @if (frmSupervisor.controls['contra'].errors['required']) {
                <small>Debe rellenar este campo.</small>
                }
              </div>
              }
            </div>

            <ion-radio-group
              class="rdb-supervisorDueno"
              name="tipo"
              required
              (ionChange)="selecTipo($event)"
            >
              <ion-item>
                <ion-radio alignment="center" value="dueno">
                  <div>
                    <label>Dueño</label>
                    <img src="../../../assets/jefe/dueno.png" width="auto" />
                  </div>
                </ion-radio>
              </ion-item>
              <ion-item>
                <ion-radio alignment="center" value="supervisor">
                  <div>
                    <label>Supervisor</label>
                    <img
                      src="../../../assets/jefe/supervisor.png"
                      width="auto"
                    />
                  </div>
                </ion-radio>
              </ion-item>
            </ion-radio-group>

            <!-- <button
            type="button"
            mat-raised-button
            class="btnPic"
            (click)="avatarInput.click()">
            Elija una foto para su avatar </button> -->

            <ion-button expand="block" color="tertiary" (click)="takePic()"
              >Foto</ion-button
            >
            @if(tempImg != ""){
            <div id="tempImg">
              <img [src]="tempImg" />
            </div>
            }
          </div>
        </div>

        <ion-button
          type="submit"
          expand="block"
          color="tertiary"
          (click)="subirSupervisor()"
          [disabled]="frmSupervisor.invalid"
        >
          Agregar
        </ion-button>
      </form>
      <ion-button expand="block" color="tertiary" (click)="fillFields()"
        >completar campos</ion-button
      >
    </ion-card-content>
  </ion-card>
</div>