@import '../../../theme/variables.scss';

.container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  
  .rdb-supervisorDueno {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;

    ion-item {
      width: 22.5%;
      --padding-start: 0;
      --padding-end: 0;
      --inner-padding-bottom: 0;
      --inner-padding-end: 0;
      --inner-border-width: 0;

      ion-radio {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .25s;
        border-radius: 10%;

        >div {
          display: flex;
          flex-direction: column;
          align-items: center;

          label {
            margin-bottom: 5px;
          }

          img {
            width: 50px;
          }
        }

        &::part(label) {
          margin: 0;
        }

        &.radio-checked {
          background: $mint;
          border-color: transparent;
          transition: .5s;
        }
      }

      ion-radio::part(container) {
        display: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  .inputs {
    display: flex;
    flex-direction: column;

    #datos-personales{
        .nombre_apellido {
          display: flex;
          flex-wrap: wrap;
    
          .nombre,
          .apellido {
            width: 50%;
            min-width: 100px;
          }
        }
        
        #tempImg{
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 50%;
            background-color: red;
        }
    }

    .errores {
      display: flex;
      flex-direction: column;
      color: red;
    }
  }
}