* {
  color: #231F20;
}

.container {
  align-content: center;

  ion-card.usuario {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-div {
      display: inline-flex;
      align-items: center;
      justify-self: center;
      width: 75vw;
      height: 75vw;
      aspect-ratio: 1;
      border-radius: 50%;
      overflow: hidden;
      border-color: #231F20;
      background-color: #231F20;
      border-style: solid;
      border-width: 10px;
    }

    .image-div img {
      width: 100%;
      height: auto;
      display: block !important;
    }
  }
}