<div id="menu-container">
  <ion-header>
    <h1>
      Hola, {{cliente.nombre}}
    </h1>
  </ion-header>
  <ion-card>

    @switch (mesa.estado) {
      @case (estados[1]) {
        <h2>
          ¿Ya desea realizar su pedido?
        </h2>
        <div>
          <ion-button (click)="accionar('pedir-comida')" color="success">Si</ion-button>
          <ion-button (click)="accionar('salir')" color="danger">No</ion-button>
        </div>
      }
      @case (estados[2]) {
        <h2>
          ¿Que desea hacer?
        </h2>
        <div>
          <ion-button (click)="accionar('pedir-comida')" color="tertiary">Pedir comida</ion-button>
          <ion-button (click)="accionar('consultar')" color="tertiary">Consultar</ion-button>
        </div>
      }
      @case (estados[4]) {
  
        <h2>Estado de su pedido:<br><b>{{pedido.estado}}</b></h2>
        <div>
          @if( pedido.estado != 'pendiente'){
            <!-- <ion-button (click)="accionar('jugar')">Jugar</ion-button> -->
            <ion-button (click)="accionar('encuesta')">Encuesta</ion-button>
          }
        </div>
  
      }  
    }
  </ion-card>
  <ion-footer>
    <ion-button (click)="accionar('salir')" color="tertiary">Volver</ion-button>
  </ion-footer>
</div>