<!-- Formulario Angular para Alta de Cliente -->
<form [formGroup]="frmCliente">
  <!-- Campo Nombre -->
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input placeholder="Nombre" formControlName="nombre" name="name"></ion-input>
  </ion-item>

  <!-- Campos adicionales para clientes registrados -->
  <ion-item *ngIf="tipoCliente === 'registrado'">
    <ion-label position="floating">Apellido</ion-label>
    <ion-input placeholder="Apellido" formControlName="apellido" name="lastname"></ion-input>
  </ion-item>
  <ion-item *ngIf="tipoCliente === 'registrado'">
    <ion-label position="floating">DNI</ion-label>
    <ion-input type="number" placeholder="9999999" formControlName="DNI" name="dni"></ion-input>
  </ion-item>
  <ion-item *ngIf="tipoCliente === 'registrado'">
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="email" placeholder="correo@ejemplo.com" formControlName="email" name="email"></ion-input>
  </ion-item>
  <ion-item *ngIf="tipoCliente === 'registrado'">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" placeholder="123456" formControlName="password" name="password"></ion-input>
  </ion-item>

  <!-- Botón para escanear DNI -->
  <ion-button shape="round" expand="full" color="tertiary" (click)="scan()">
    Escanear DNI
  </ion-button>

  <!-- Botones de acción -->
  <ion-button shape="round" expand="full" (click)="takePic()">Tomar Foto</ion-button>
  <ion-button shape="round" expand="full" (click)="subirCliente()">Cargar Cliente</ion-button>
</form>