<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alta Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Formulario Angular para Alta de Cliente -->
  <form [formGroup]="frmCliente">
    <!-- Campo Nombre -->
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input placeholder="Nombre" formControlName="nombre"></ion-input>
    </ion-item>

    <!-- Campos adicionales para clientes registrados -->
    <ion-item *ngIf="tipoCliente === 'registrado'">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input placeholder="Apellido" formControlName="apellido"></ion-input>
    </ion-item>
    <ion-item *ngIf="tipoCliente === 'registrado'">
      <ion-label position="floating">DNI</ion-label>
      <ion-input type="number" placeholder="9999999" formControlName="DNI"></ion-input>
    </ion-item>
    <ion-item *ngIf="tipoCliente === 'registrado'">
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" placeholder="email@example.com" formControlName="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="tipoCliente === 'registrado'">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" placeholder="123456" formControlName="password"></ion-input>
    </ion-item>

    <!-- Botón para escanear DNI -->
    <ion-button shape="round" expand="full" color="tertiary" (click)="scan()">
      Escanear DNI
    </ion-button>

    <!-- Botones de acción -->
    <ion-button shape="round" expand="full" (click)="takePic()">Tomar Foto</ion-button>
    <ion-button shape="round" expand="full" (click)="subirCliente()">Cargar Cliente</ion-button>
  </form>
</ion-content>
