<div class="container background-ter">
  <ion-list *ngIf="listaDeEspera.length > 0; else noClientes" class="ion-padding-vertical">
    <ion-card *ngFor="let cliEspera of listaDeEspera" class="item-card ion-no-margin ion-margin-bottom ion-no-padding">
      <ion-card-header class="ion-text-center">
        <div class="img-container">
          <img [src]="cliEspera.cliente.fotoUrl" />
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title color="tertiary">
          {{cliEspera.cliente.nombre}} {{cliEspera.cliente.tipo === 'anonimo' ? '(Anónimo)' : cliEspera.cliente.apellido}}
        </ion-card-title>
        <ion-card-subtitle color="secondary" *ngIf="cliEspera.cliente.tipo !== 'anonimo'">
          {{cliEspera.cliente.dni}}, {{cliEspera.cliente.correo}}
        </ion-card-subtitle>
        <ion-button expand="block" color="success" (click)="selecCliente(cliEspera)">ASIGNAR</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ng-template #noClientes>
    <div id="noClientes">
      <ion-card>
        <ion-card-header>
          <ion-card-title>No hay clientes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Parece que no hay clientes en lista de espera.</p>
          <ion-button expand="block" (click)="navCtrl.navigateRoot('home')">Ir a Inicio</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-template>
</div>