<div class="container background-pri">
  <ion-card style="width: 95%;">
    <ion-card-header>
      <ion-card-title>Alta de Mesa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="frmMesa" (ngSubmit)="subirMesa()">
        <div class="inputs">
          <div id="nroMesa" class="nroMesa">
            <ion-input
              id="input-nroMesa"
              label="Nro de mesa"
              type="number"
              formControlName="nroMesa"
              name="nroMesa"
              required
              ngDefaultControl
            >
              <ion-button
                id="btn-nroMesa"
                fill="clear"
                slot="end"
                (click)="manejarNroMesa();"
                aria-label="Buscar/Cambiar"
                [disabled]="frmMesa.controls['nroMesa'].errors"
              >
                <ion-icon
                  slot="icon-only"
                  name="search"
                  aria-hidden="true"
                ></ion-icon>
              </ion-button>
            </ion-input>

            @if (frmMesa.controls['nroMesa'].dirty &&
            frmMesa.controls['nroMesa'].errors) {
            <div class="errores">
              @if (frmMesa.controls['nroMesa'].errors['required']) {
              <small>Debe rellenar este campo.</small>
              }
              @if (frmMesa.controls['nroMesa'].errors['min']) {
              <small>el valor debe ser mayor a 0</small>
              }
            </div>
            }
          </div>
          <div id="cantComensales" class="deshabilitado">
            <ion-input
              id="input-cantComensales"
              label="Comensales"
              type="number"
              formControlName="cantComensales"
              name="cantComensales"
              required
              ngDefaultControl
            >
            </ion-input>

            @if (frmMesa.controls['cantComensales'].dirty &&
            frmMesa.controls['cantComensales'].errors) {
            <div class="errores">
              @if (frmMesa.controls['cantComensales'].errors['required']) {
              <small>Debe rellenar este campo.</small>
              }
              @if (frmMesa.controls['cantComensales'].errors['min']) {
              <small>el valor debe ser mayor a 0</small>
              }
            </div>
            }
          </div>

          <div id="tipoMesa" class="deshabilitado">
            <ion-radio-group
              class="rdb-tipoMesa"
              (ionChange)="selecTipo($event)"
              name="tipo"
              required
            >
              <ion-item>
                <ion-radio alignment="center" value="estandar">
                  <div>
                    <label>Estándar</label>
                    <img src="../../../assets/mesas/madre.png" width="auto" />
                  </div>
                </ion-radio>
              </ion-item>
              <ion-item>
                <ion-radio alignment="center" value="discapacitado">
                  <div>
                    <label>Discapacitados</label>
                    <img
                      src="../../../assets/mesas/discapacitado.png"
                      width="auto"
                    />
                  </div>
                </ion-radio>
              </ion-item>
              <ion-item>
                <ion-radio alignment="center" value="vip">
                  <div>
                    <label>V.I.P</label>
                    <img
                      src="../../../assets/mesas/persona-vip.png"
                      width="auto"
                    />
                  </div>
                </ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
        </div>
        <ion-button
          id="btn-tomarFoto"
          expand="block"
          color="tertiary"
          (click)="takePic()"
          [ngClass]="(frmMesa.controls['cantComensales'].valid && frmMesa.controls['tipoMesaControl'].valid)?'':'deshabilitado'">
          <!-- @if (mesaImg != '') {
            volver a tomar Foto
          }@else {
          } -->
          Foto de la mesa
          <img id="tomarFotoImg"
            src="../../../assets/fotografo.png"
            width="auto"
          />
        </ion-button>

        @if (frmMesa.valid) {
          <ion-item [ngClass]="!mesaCreada?'invisible':''">
            <ion-select aria-label="datos" value="foto" 
            (ionChange)="selectOption($event)" interface="popover">
              <ion-select-option value="foto">Foto de la mesa</ion-select-option>
              <ion-select-option value="QR">QR de la mesa</ion-select-option>
            </ion-select>
          </ion-item>
        }

        @if(mesaCreada){
          @if(selectedData == 'foto' && mesaImg != ""){
            <div id="tempImg">
              <img [src]="mesaImg" />
            </div>
          } 
          @if (selectedData == 'QR' && QRs.length > 0) {
            <div id="QR">
              <qr-code [value]="QRs[0]" size="300" errorCorrectionLevel="M"></qr-code>
            </div>
          }
        }

        <ion-button
        id="btn-agregarMesa"
          type="submit"
          expand="block"
          color="tertiary"
          [disabled]="frmMesa.invalid"
        >
          Agregar Mesa
        </ion-button>
        
        <ion-button
          expand="block"
          color="tertiary"
          (click)="volver()"
          >
          Volver
        </ion-button>  
        
      </form>
    </ion-card-content>
  </ion-card>
</div>
