@import "../../../theme/variables.scss";

ion-card {
  min-width: 90%;
}

.container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  ion-card-content {
    .inputs {
      display: flex;
      flex-direction: column;
      #cantComensales {
        width: 100%;
        margin-bottom: 0.5rem;
      }
      .rdb-tipoMesa {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 15px;
        ion-item {
          width: 33%;

          --padding-start: 0;
          --padding-end: 0;
          --inner-padding-bottom: 0;
          --inner-padding-end: 0;
          --inner-border-width: 0;

          ion-radio {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.25s;
            border-radius: 10%;

            > div {
              display: flex;
              flex-direction: column;
              align-items: center;

              label {
                margin-bottom: 5px;
              }

              img {
                width: 50px;
              }
            }

            &::part(label) {
              margin: 0;
            }

            &.radio-checked {
              background: $mint;
              border-color: transparent;
              transition: 0.5s;
            }
          }

          ion-radio::part(container) {
            display: none;
            margin: 0;
            padding: 0;
          }
        }
      }

      #tempImg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        img {
          width: 50%;
        }
      }
      .errores {
        display: flex;
        flex-direction: column;
        color: red;
      }
    }
  }
}

#tomarFotoImg {
  width: 40px;
  margin-left: 0.5rem;
}
