<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>alta mesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="frmMesa">
    <ion-item>
      <ion-input
        type="number"
        label="Numero"
        placeholder="10"
        formControlName="numero"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="number"
        label="Cantidad de comensales"
        placeholder="4"
        formControlName="cantComensales"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Tipo de mesa"
        placeholder=""
        formControlName="tipoMesaControl"
      ></ion-input>
    </ion-item>

    @for (tipo of tipoMesa; track $index) {
    <ion-select-option [value]="tipo">{{tipo}}</ion-select-option>
    }

    <ion-item>
      <!-- <ion-input
        type="file"
        label="Foto"
        placeholder=""
        formControlName="fotoUrl"
      ></ion-input> -->
      <ion-button
        shape="round"
        expand="full"
        (click)="takePic()"
        >Cargar mesa</ion-button
      >
    </ion-item>

    <ion-button shape="round" expand="full" (click)="subirMesa()"
      >Cargar mesa</ion-button
    >

    <ion-button shape="round" expand="full" (click)="fillFields()"
      >llenar campos</ion-button
    >
  </form>
</ion-content>
