// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

$lavander: #D8DDEF;
$cool-grey: #A0A4BB;
$slate-grey: #2F5651;
$keppel: #45B69C;
$mint: #21D19F;