.container {
  margin: 0 !important;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Bahnschrift condensed !important;
  font-weight: 750 !important;
  text-transform: uppercase;
  color: #2f5651 !important;

  .nombres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p {
      word-break: break-word;
      margin: 0.75rem;
      font-size: 3rem;
    }

    #alfa {
      text-decoration: underline double 5px;
      -webkit-animation: slide-out-blurred-top 0.45s ease-in 4s normal forwards;
      animation: slide-out-blurred-top 0.45s ease-in 4s normal forwards;
    }

    #beta {
      text-decoration: underline wavy 5px;
      -webkit-animation: slide-out-blurred-top 0.45s ease-in 4.5s normal forwards;
      animation: slide-out-blurred-top 0.45s ease-in 4.5s normal forwards;
    }

    #gamma {
      text-decoration: underline dotted 5px;
      -webkit-animation: slide-out-blurred-top 0.45s ease-in 5s normal forwards;
      animation: slide-out-blurred-top 0.45s ease-in 5s normal forwards;
    }
  }

  .img-container {
    img {
      width: 75%;
      max-width: 50vh;
      -webkit-animation: bounce-out-bottom 1s ease-out 3s 1 normal forwards;
      animation: bounce-out-bottom 1s ease-out 3s 1 normal forwards;
    }
  }
}

/* ANIMACION NOMBRES */
@-webkit-keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}

@keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}


/* ANIMACION LOGO */
@-webkit-keyframes bounce-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  5% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  15% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  25% {
    -webkit-transform: translateY(38px);
    transform: translateY(38px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  52% {
    -webkit-transform: translateY(75px);
    transform: translateY(75px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  85% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(800px);
    transform: translateY(800px);
    opacity: 0;
  }
}

@keyframes bounce-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  5% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  15% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  25% {
    -webkit-transform: translateY(38px);
    transform: translateY(38px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  52% {
    -webkit-transform: translateY(75px);
    transform: translateY(75px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  85% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(800px);
    transform: translateY(800px);
    opacity: 0;
  }
}