ion-fab-list {
    ion-fab-button {
      height: 50px;
      width: 50px;
    }
  }
  
  ion-modal {
    --height: auto;
    align-items: end;
  
    #lista-container {
      ion-item {
        i {
          margin-right: 2rem;
        }
      }
    }
  }