<ion-app>
  <ion-header [translucent]="true" *ngIf="router.url !== '/splash'">
    <ion-toolbar>
      <ion-title>La Comanda - Yourdonistas</ion-title>
      <ion-button slot="end" fill="clear" (click)="scanner.escanear()">
        <ion-icon slot="icon-only" name="scan"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

  <ngx-spinner [fullScreen]="true" template="<img src='../assets/spinner.gif' style='width: 125vw; max-width: 125vh;'>">
  </ngx-spinner>
</ion-app>