<ion-app>
  <ion-header [translucent]="true" *ngIf="router.url !== '/splash'">
    <ion-toolbar>
      <ion-button slot="start" fill="clear" id="abrirPags">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
      <ion-title>La Comanda - Yourdonistas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
      <ion-fab-button>
        <ion-icon name="chevron-down-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button *ngFor="let func of funciones" (click)="func.accion">
          <ion-icon [name]="func.icono" size="large"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-router-outlet id="main"></ion-router-outlet>

    <ion-modal id="pagsModal" trigger="abrirPags">
      <ion-toolbar>
        <ion-title>Seleccione una página</ion-title>
      </ion-toolbar>
      <div id="lista-container">
        <ion-accordion-group id="lista-global" [multiple]="true" [value]="['General', 'Altas']">
          <ion-accordion *ngFor="let grupo of grupos" [value]="grupo.nombre">
            <ion-item slot="header" color="light">
              <ion-label>{{grupo.nombre}}</ion-label>
            </ion-item>
            <div slot="content">
              <ion-item button *ngFor="let pag of grupo.paginas" (click)="itemClick(pag.url)">
                <i [class]="'fi fi-tr-'+pag.icono"></i>
                {{pag.titulo}}
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ion-modal>

    <ngx-spinner [fullScreen]="true"
      template="<img src='../assets/spinner.gif' style='width: 125vw; max-width: 125vh;'>">
    </ngx-spinner>
  </ion-content>
</ion-app>