* {
  color: #1d1d1d !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  ion-card-title {
    font-size: 1.75rem;
  }
  
  h2 {
    font-size: 1.15rem;
  }
  
  p {
    font-size: 1rem;
  }
}