<div class="container background-ter">
  <ion-card class="background-sec">
    <ion-card-header>
      <ion-card-title>Sobre Nosotros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Los Yourdonistas es un restaurante reconocido por su ambiente acogedor y su cocina excepcional. Nuestro
        objetivo es brindar una experiencia gastronómica única a todos nuestros clientes.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="background-sec">
    <ion-card-header>
      <ion-card-title>Nuestras Comidas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ofrecemos una amplia variedad de platos que van desde lo tradicional hasta lo más innovador. Cada plato es
        preparado con los ingredientes más frescos y de la más alta calidad.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="background-sec">
    <ion-card-header>
      <ion-card-title>Nuestra Reputación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Con una puntuación de 4.8 sobre 5 en las principales plataformas de reseñas,
        Los Yourdonistas se enorgullece de su reputación impecable.</p>
    </ion-card-content>
  </ion-card>
</div>