<div class="container background-pri">
  <ion-card style="width: 95%">
    <ion-card-header>
      <ion-button fill="clear" (click)="navCtrl.back()">
        <ion-icon slot="start" name="chevron-back-circle-outline" size="large"></ion-icon>
        Volver
      </ion-button>
    </ion-card-header>
    <ion-card-content>
      <div id="mensajes" #mensajesDiv>
        <ng-container *ngIf="mensajes.length > 0">
          <ng-container *ngFor="let msg of mensajes; trackBy: trackByFn">
            <div [id]="msg.id" class="msg" [ngClass]="usuario.id === msg.autor.id ? 'enviado' : 'recibido'">
              <div *ngIf="usuario.id !== msg.autor.id" class="alias">
                <ion-text>{{ msg.autor.rol === 'cliente' ? 'Mesa '+msg.nroMesa : 'Mozo '+msg.autor.nombre }}</ion-text>
              </div>
              <ion-text class="texto">{{msg.mensaje}}</ion-text>
              <ion-text class="fecha">{{msg.fecha | date:'dd/MM | HH:mm'}}</ion-text>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <form class="card-footer text-muted">
        <div class="input">
          <ion-item ngClass='input'>
            <ion-input type="text" placeholder="Escriba su mensaje" class="form-control" name="mensaje"
              [(ngModel)]="nuevoMensaje" ngDefaultControl (keyup.enter)="enviarMensaje()"></ion-input>
            <span>
              <ion-button fill="clear" [color]="nuevoMensaje.trim() === '' ? 'medium' : 'success'"
                [disabled]="nuevoMensaje.trim() === ''" (click)="enviarMensaje()">
                <ion-icon slot="icon-only" name="send-outline" id="enviar" size="large"></ion-icon>
              </ion-button>
            </span>
          </ion-item>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</div>