<ng-container *ngIf="router.url !== '/splash'">
  <ion-header [translucent]="true">
    <!-- <ion-tab-button (click)="saberUsuario()">
      <ion-icon name="camera"></ion-icon>
      <ion-label>SaberInfoUsuario</ion-label>
    </ion-tab-button> -->
    <ion-toolbar>
      <ion-title>La Comanda - Yourdonistas</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="router.url !== '/login'">
      <ion-accordion-group id="lista-global" [multiple]="true">
        <ion-accordion toggleIcon="caret-down-circle" toggleIconSlot="start">
          <ion-item slot="header" color="light">
            <ion-label>Páginas</ion-label>
          </ion-item>
          <div slot="content">
            <ng-container *ngFor="let pag of paginasGenerales">
              <ion-item *ngIf="CheckRolTipo(auth, pag.rol_tipo, pag.permitirAnon)" button (click)="itemClick(pag.url)">
                <i [class]="'fi fi-tr-'+pag.icono"></i>
                {{pag.titulo}}
              </ion-item>
            </ng-container>
            <ion-accordion *ngIf="pagsAltas.length > 1; else unicaAlta" value="Altas">
              <ion-item slot="header" color="light">
                <ion-label>Altas</ion-label>
              </ion-item>
              <div slot="content">
                <ion-item button *ngFor="let pag of pagsAltas" (click)="itemClick(pag.url)">
                  <i [class]="'fi fi-tr-'+pag.icono"></i>
                  {{pag.titulo}}
                </ion-item>
              </div>
            </ion-accordion>
            <ng-template #unicaAlta>
              <ion-item *ngIf="pagsAltas[0] as alta" button (click)="itemClick(alta.url)">
                <i [class]="'fi fi-tr-'+alta.icono"></i>
                Alta {{alta.titulo}}
              </ion-item>
            </ng-template>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-toolbar>
  </ion-header>

  <ion-fab *ngIf="router.url !== '/login'" slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button *ngFor="let func of funciones" (click)="func.accion()">
        <ion-icon [name]="func.icono" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ng-container>
